.random-user-details-container {
    height: 444px;
    margin-right: 84px;
    padding-right: 100px;
}

.random-user-image {
    width: 128px;
    height: 128px;
    border-radius: 100px;
    margin: -63px -20px 0 0;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
}

.new-random-user-trigger {
    width: 143px;
    height: 91px;
    float: left;
    margin-left: 120px;
    margin-top: -58px;
}

.new-random-user-trigger .gender-selector {
    height: 24px;
    height: 24px;
    margin: 0 auto 7px;
    width: 84px;
}

.new-random-user-trigger .gender-selector .icon {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(/assets/images/icons-sprite.png);
    cursor: pointer;
}

.icon.both {
    float: right;
    background-position: 72px 24px;
}

.icon.both:hover {
    background-position: 72px 48px;
}

.icon.both.selected,
.icon.both.selected:hover {
    background-position: 72px 0px;
}

.icon.male {
    float: right;
    margin-right: 5px;
    background-position: 0px 24px;
}

.icon.male:hover {
    background-position: 0px 48px;
}

.icon.male.selected,
.icon.male.selected:hover {
    background-position: 0px 0px;
}

.icon.female {
    float: left;
    background-position: 96px 24px;
}

.icon.female:hover {
    background-position: 96px 48px;
}

.icon.female.selected,
.icon.female.selected:hover {
    background-position: 96px 0px;
}

.new-random-user-trigger .get-random-user-btn {
    width: 143px;
    height: 54px;
    background-color: #3BD9E6;
    box-shadow: 0 3px 20px 0 rgba(30, 162, 170, 0.3);
    border-radius: 100px;
    cursor: pointer;
}

.new-random-user-trigger .get-random-user-btn .icon {
    width: 24px;
    height: 19px;
    background-image: url(/assets/images/icons-sprite.png);
    background-position: 25px -2px;
    display: inline-block;
    margin: 17px 19px 0 0px;
}

.new-random-user-trigger .get-random-user-btn .text {
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin: 17px 3px 0 0;
    display: inline-block;
}

.random-user-details .prefix {
    width: 87px;
    height: 19px;
    font-size: 16px;
    text-align: right;
    line-height: 19px;
    color: #9CA1A5;
    margin-top: 28px;
}

.random-user-details .name {
    height: 65px;
    font-size: 55px;
    text-align: right;
    line-height: 65px;
    color: #3BD9E6;
    margin-top: -5px;
    cursor: pointer;
}

.random-user-details .separator {
    width: 400px;
    height: 2px;
    margin: 16px 0 26px;
    box-sizing: border-box;
    width: 400px;
    height: 2px;
    opacity: 0.2;
    border: 1px solid #979797;
}

.random-user-details .details-line {
    margin-bottom: 28px;
    cursor: pointer;
}

.random-user-details .details-line .text {
    font-size: 18px;
    text-align: right;
    line-height: 22px;
    color: #5A6169;
    margin-right: 20px;
}

.random-user-details .details-line .text:hover {
    text-decoration: underline;
}

.random-user-details .details-line .icon {
    font-size: 16px;
    text-align: right;
    line-height: 17px;
    color: #BABFC3;
}

.copy-all-btn {
    position: absolute;
    left: 64px;
    bottom: 21px;
    height: 54px;
    width: 123px;
    border-radius: 100px;
    cursor: pointer;
    line-height: 54px;
    padding-right: 35px;
}

.copy-all-btn .text {
    width: 64px;
    height: 17px;
    font-size: 14px;
    text-align: right;
    line-height: 17px;
    color: #8C99B0;
    display: block;
    float: right;
    margin-top: 20px;
}

.copy-all-btn:hover .text {
    color: #A1B0C9;
}

.copy-all-btn:active .text {
    color: #3BD9E6;
}

.copy-all-btn .icon {
    width: 24px;
    height: 24px;
    background-image: url(/assets/images/icons-sprite.png);
    background-position: 48px 24px;
    margin-top: 15px;
    display: block;
    float: left;
    margin-left: 30px;
}

.copy-all-btn:hover .icon {
    background-position: 48px 48px;
}

.copy-all-btn:active .icon {
    background-position: 48px 0px;
}

.copied-title {
    font-size: 30px;
    color: #3BD9E6;
}

.clipboard-text {
    font-size: 40px;
    color: #FFFFFF;
    letter-spacing: 1px;
    line-height: 47px;
}