.random-user-generator-section {
    background-position: top center;
    background-repeat: no-repeat;
    /*display: table;
    width: 100%;*/
    background-image: linear-gradient(to top, #6265c4 0%, #6265c4 22%, #484ba8 100%);
}

.random-user-generator-section-bgimage {
    background-image: url("/app/styles/images/diversity-teenagers-friends-friendship-team-concept.png");
    background-position: top center;
    background-repeat: no-repeat;
}