<div id="random-user-wrapper" *ngIf="randomUser">

    <div class="random-user-generator-title-wrapper">
        <h2>
            <span class="light">מחולל</span>
            <br />
            <span class="regular">משתמשים</span>
            <br />
            <span class="light">בעברית</span>
            <br />
        </h2>

        <h1>
            <span>TEN</span><span class="light li">LI</span><span class="star">*</span>
        </h1>

        <div class="separator"></div>
        <div class="clear"></div>

        <h3>כלי פשוט שיעזור לך ליצור משתמשים לפרויקטים שלך</h3>
    </div>
    <div class="random-user-data-container">
        <img src="{{randomUser.image.large}}" class="random-user-image" />
        <div class="copy-icon">
            <img src="/app/styles/images/icons/copy-icon.png" />
        </div>
        <div class="name-title">היי, קוראים לי</div>
        <div class="name">{{randomUser.firstname.hebValue}} {{randomUser.lastname.hebValue}}</div>
        <table class="user-details">
            <tr>
                <td class="icon">
                    <img src="/app/styles/images/icons/email-icon.png" />
                </td>
                <td>{{randomUser.email}}</td>
            </tr>
            <tr>
                <td class="icon">
                    <img src="/app/styles/images/icons/username-icon.png" />
                </td>
                <td>{{randomUser.firstname.engValue}}.{{randomUser.lastname.engValue}}</td>
            </tr>
            <tr>
                <td class="icon">
                    <img src="/app/styles/images/icons/profession-icon.png" />
                </td>
                <td>מפתח PHP</td>
            </tr>
            <tr>
                <td class="icon">
                    <img src="/app/styles/images/icons/mobile-phone-icon.png" />
                </td>
                <td>{{randomUser.phoneNumber}}</td>
            </tr>
            <tr>
                <td class="icon">
                    <img src="/app/styles/images/icons/gps-icon.png" />
                </td>
                <td>{{randomUser.address.addressString}}</td>
            </tr>
        </table>
    </div>
    <div class="get-random-user-button-container">
        <div class="gender-selector">
            <div class="selected-gender">
                <img class="gender-icon-selected" src="/app/styles/images/icons/gender-both-selected.png" />
                <span class="light">גם וגם</span>
            </div>
            <div class="selector">
                <div class="gender-male-icon">&nbsp;</div>
                <div class="gender-both-icon">&nbsp;</div>
                <div class="gender-female-icon">&nbsp;</div>
            </div>
        </div>
        <div class="get-random-user-button light" (click)="getRandomUser()">
            משתמש חדש TENLI
        </div>
    </div>
</div>